Vamos Começar!

In [164]:
import pandas as pd
import numpy as np
import csv

In [165]:
df_appearances = pd.read_csv('archive/appearances.csv')
df_appearances.head(20)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
5,2234421_146889,2234421,146889,195,2778,2012-07-05,Peter Ankersen,ELQ,1,0,0,0,90
6,2235539_28716,2235539,28716,282,7185,2012-07-05,Adi Adilovic,ELQ,0,0,0,0,90
7,2235539_69445,2235539,69445,282,19771,2012-07-05,Ivan Sesar,ELQ,1,0,0,1,90
8,2235545_19409,2235545,19409,317,200,2012-07-05,Willem Janssen,ELQ,0,0,0,0,45
9,2235545_30003,2235545,30003,317,317,2012-07-05,Wout Brama,ELQ,0,0,0,0,90
10,2235545_30667,2235545,30667,317,317,2012-07-05,Robbert Schilder,ELQ,0,0,2,1,90
11,2235545_34129,2235545,34129,317,1435,2012-07-05,Wesley Verhoek,ELQ,0,0,0,0,90
12,2235545_36139,2235545,36139,317,36,2012-07-05,Dušan Tadić,ELQ,0,0,1,0,45
13,2235545_4520,2235545,4520,317,317,2012-07-05,Peter Wisgerhof,ELQ,0,0,0,0,90
14,2235545_4582,2235545,4582,317,317,2012-07-05,Sander Boschker,ELQ,0,0,0,0,90
15,2235545_47740,2235545,47740,317,1426,2012-07-05,Nils Röseler,ELQ,0,0,0,0,90
16,2235545_59631,2235545,59631,317,6890,2012-07-05,Nacer Chadli,ELQ,0,0,0,3,45
17,2235545_60312,2235545,60312,317,1426,2012-07-05,Joshua John,ELQ,0,0,1,1,45
18,2235545_63342,2235545,63342,317,11282,2012-07-05,Leroy Fer,ELQ,0,0,0,0,26
19,2235545_63356,2235545,63356,317,1304,2012-07-05,Tim Breukers,ELQ,0,0,0,0,90

In [166]:
df_club_games = pd.read_csv('archive/club_games.csv')
df_club_games.head(20)

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,Home,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,Home,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0
5,2321033,23.0,0.0,13.0,Torsten Lieberknecht,86.0,1.0,7.0,Robin Dutt,Home,0
6,2321044,16.0,2.0,1.0,Jürgen Klopp,23.0,1.0,15.0,Torsten Lieberknecht,Home,1
7,2321060,23.0,0.0,18.0,Torsten Lieberknecht,24.0,2.0,11.0,Armin Veh,Home,0
8,2321063,33.0,2.0,13.0,Jens Keller,15.0,0.0,3.0,Sami Hyypiä,Home,1
9,2321072,16.0,6.0,1.0,Jürgen Klopp,41.0,2.0,15.0,Thorsten Fink,Home,1
10,2321079,23.0,1.0,18.0,Torsten Lieberknecht,4.0,1.0,16.0,Michael Wiesinger,Home,0
11,2321086,4.0,1.0,15.0,Michael Wiesinger,16.0,1.0,1.0,Jürgen Klopp,Home,0
12,2321119,15.0,1.0,3.0,Sami Hyypiä,27.0,1.0,1.0,Pep Guardiola,Home,0
13,2321152,44.0,0.0,7.0,Jos Luhukay,33.0,2.0,6.0,Jens Keller,Home,0
14,2321205,41.0,2.0,14.0,Bert van Marwijk,39.0,3.0,9.0,Thomas Tuchel,Home,0
15,2321233,41.0,0.0,17.0,Bert van Marwijk,44.0,3.0,7.0,Jos Luhukay,Home,0
16,2321307,16.0,2.0,2.0,Jürgen Klopp,82.0,1.0,6.0,Dieter Hecking,Home,1
17,2321319,15.0,2.0,4.0,Sascha Lewandowski,44.0,1.0,10.0,Jos Luhukay,Home,1
18,2321330,167.0,0.0,8.0,Markus Weinzierl,44.0,0.0,10.0,Jos Luhukay,Home,0
19,2321335,33.0,0.0,3.0,Jens Keller,18.0,1.0,6.0,Lucien Favre,Home,0

In [167]:
df_clubs = pd.read_csv('archive/clubs.csv')
df_clubs.head(20)

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.6,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...
5,157,kaa-gent,Koninklijke Atletiek Associatie Gent,BE1,NaN,30,25.2,19,63.3,5,Planet Group Arena,20185,+€5.63m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/kaa-gent/start...
6,1894,hvidovre-if,Hvidovre IF,DK1,NaN,25,26.4,3,12.0,2,PRO VENTILATION Arena,12000,+€225k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/hvidovre-if/st...
7,190,fc-kopenhagen,Football Club København,DK1,NaN,28,26.1,19,67.9,9,Parken,38065,+€35.06m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/fc-kopenhagen/...
8,192,roda-jc-kerkrade,Roda JC Kerkrade,NL1,NaN,25,24.0,9,36.0,0,Parkstad Limburg Stadion,19979,+€1.30m,NaN,2017,../data/raw/transfermarkt-scraper/2017/clubs.j...,https://www.transfermarkt.co.uk/roda-jc-kerkra...
9,19789,yeni-malatyaspor,Yeni Malatyaspor,TR1,NaN,10,22.9,1,10.0,0,Yeni Malatya Stadyumu,25745,+€778k,NaN,2021,../data/raw/transfermarkt-scraper/2021/clubs.j...,https://www.transfermarkt.co.uk/yeni-malatyasp...
10,2079,veria-nps,Veria NPS,GR1,NaN,29,24.3,4,13.8,0,Dimotiko Stadio Verias,6350,+-0,NaN,2016,../data/raw/transfermarkt-scraper/2016/clubs.j...,https://www.transfermarkt.co.uk/veria-nps/star...
11,21957,ao-platanias,AO Platanias,GR1,NaN,0,NaN,0,NaN,0,Dimotiko Gipedo Perivolia,3700,+-0,NaN,2017,../data/raw/transfermarkt-scraper/2017/clubs.j...,https://www.transfermarkt.co.uk/ao-platanias/s...
12,2414,ac-horsens,AC Horsens,DK1,NaN,19,25.1,9,47.4,4,Nordstern Arena Horsens,10400,+-0,NaN,2022,../data/raw/transfermarkt-scraper/2022/clubs.j...,https://www.transfermarkt.co.uk/ac-horsens/sta...
13,2457,belenenses-sad,B SAD,PO1,NaN,25,24.2,13,52.0,4,Estádio Nacional do Jamor,37593,+€1.80m,NaN,2021,../data/raw/transfermarkt-scraper/2021/clubs.j...,https://www.transfermarkt.co.uk/belenenses-sad...
14,2578,st-johnstone-fc,Saint Johnstone Football Club,SC1,NaN,26,26.2,19,73.1,3,McDiarmid Park,10696,+-0,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/st-johnstone-f...
15,269,holstein-kiel,Kieler Sportvereinigung Holstein von 1900,L1,NaN,29,26.3,11,37.9,4,Holstein-Stadion,15034,€-6.20m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/holstein-kiel/...
16,2727,oud-heverlee-leuven,Oud-Heverlee Leuven,BE1,NaN,27,24.9,15,55.6,2,King Power at Den Dreef Stadion,9809,+€7.80m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/oud-heverlee-l...
17,28643,waasland-beveren,SK Beveren,BE1,NaN,27,26.8,16,59.3,3,Freethielstadion,13290,€-350k,NaN,2020,../data/raw/transfermarkt-scraper/2020/clubs.j...,https://www.transfermarkt.co.uk/waasland-bever...
18,2990,academica-coimbra,Académica Coimbra,PO1,NaN,26,25.2,6,23.1,0,Estádio Cidade de Coimbra,29744,+€150k,NaN,2015,../data/raw/transfermarkt-scraper/2015/clubs.j...,https://www.transfermarkt.co.uk/academica-coim...
19,3057,standard-luttich,Royal Standard Club de Liège,BE1,NaN,28,24.1,17,60.7,9,Maurice Dufrasne Stadion,27221,+€11.30m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/standard-lutti...

In [168]:
df_competitions = pd.read_csv('archive/competitions.csv')
df_competitions.head(20)

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...,False
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...,False
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...,False
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...,False
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...,False
5,SUC,supercopa,supercopa,domestic_super_cup,other,157,Spain,ES1,europa,https://www.transfermarkt.co.uk/supercopa/star...,False
6,USC,uefa-super-cup,uefa-super-cup,uefa_super_cup,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-super-cup...,False
7,DK1,superligaen,superligaen,first_tier,domestic_league,39,Denmark,DK1,europa,https://www.transfermarkt.co.uk/superligaen/st...,False
8,EL,europa-league,europa-league,europa_league,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/europa-league/...,False
9,ES1,laliga,laliga,first_tier,domestic_league,157,Spain,ES1,europa,https://www.transfermarkt.co.uk/laliga/startse...,True
10,FR1,ligue-1,ligue-1,first_tier,domestic_league,50,France,FR1,europa,https://www.transfermarkt.co.uk/ligue-1/starts...,True
11,IT1,serie-a,serie-a,first_tier,domestic_league,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/serie-a/starts...,True
12,NL1,eredivisie,eredivisie,first_tier,domestic_league,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/eredivisie/sta...,False
13,RUP,russian-cup,russian-cup,domestic_cup,domestic_cup,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-cup/st...,False
14,PO1,liga-portugal-bwin,liga-portugal-bwin,first_tier,domestic_league,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/liga-portugal-...,False
15,BESC,belgian-supercup,belgian-supercup,domestic_super_cup,other,19,Belgium,BE1,europa,https://www.transfermarkt.co.uk/belgian-superc...,False
16,GB1,premier-league,premier-league,first_tier,domestic_league,189,England,GB1,europa,https://www.transfermarkt.co.uk/premier-league...,True
17,UCOL,uefa-conference-league,uefa-conference-league,uefa_europa_conference_league,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-conferenc...,False
18,ELQ,europa-league-qualifikation,europa-league-qualifikation,europa_league_qualifying,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/europa-league-...,False
19,CGB,efl-cup,efl-cup,league_cup,other,189,England,GB1,europa,https://www.transfermarkt.co.uk/efl-cup/starts...,False

In [169]:
#Vamos analsisar o dataframe club_games, que possui informações sobre os jogos
df_club_games.columns.tolist()

['game_id',
 'club_id',
 'own_goals',
 'own_position',
 'own_manager_name',
 'opponent_id',
 'opponent_goals',
 'opponent_position',
 'opponent_manager_name',
 'hosting',
 'is_win']

In [170]:
#Vamos transformar o hosting em números 
df_club_games['hosting'].unique()
df_club_games['hosting'].value_counts()

hosting
Home    74026
Away    74026
Name: count, dtype: int64

In [171]:
map_hosting = {
    'Home': 1,
    'Away': 0
}
df_club_games['hosting'] = df_club_games['hosting'].map(map_hosting)
df_club_games.head(20)

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,1,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,1,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,1,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,1,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,1,0
5,2321033,23.0,0.0,13.0,Torsten Lieberknecht,86.0,1.0,7.0,Robin Dutt,1,0
6,2321044,16.0,2.0,1.0,Jürgen Klopp,23.0,1.0,15.0,Torsten Lieberknecht,1,1
7,2321060,23.0,0.0,18.0,Torsten Lieberknecht,24.0,2.0,11.0,Armin Veh,1,0
8,2321063,33.0,2.0,13.0,Jens Keller,15.0,0.0,3.0,Sami Hyypiä,1,1
9,2321072,16.0,6.0,1.0,Jürgen Klopp,41.0,2.0,15.0,Thorsten Fink,1,1
10,2321079,23.0,1.0,18.0,Torsten Lieberknecht,4.0,1.0,16.0,Michael Wiesinger,1,0
11,2321086,4.0,1.0,15.0,Michael Wiesinger,16.0,1.0,1.0,Jürgen Klopp,1,0
12,2321119,15.0,1.0,3.0,Sami Hyypiä,27.0,1.0,1.0,Pep Guardiola,1,0
13,2321152,44.0,0.0,7.0,Jos Luhukay,33.0,2.0,6.0,Jens Keller,1,0
14,2321205,41.0,2.0,14.0,Bert van Marwijk,39.0,3.0,9.0,Thomas Tuchel,1,0
15,2321233,41.0,0.0,17.0,Bert van Marwijk,44.0,3.0,7.0,Jos Luhukay,1,0
16,2321307,16.0,2.0,2.0,Jürgen Klopp,82.0,1.0,6.0,Dieter Hecking,1,1
17,2321319,15.0,2.0,4.0,Sascha Lewandowski,44.0,1.0,10.0,Jos Luhukay,1,1
18,2321330,167.0,0.0,8.0,Markus Weinzierl,44.0,0.0,10.0,Jos Luhukay,1,0
19,2321335,33.0,0.0,3.0,Jens Keller,18.0,1.0,6.0,Lucien Favre,1,0

In [172]:
#Vamos retirar colunas que não são necessárias para a análise
remover_colunas = ['own_manager_name','opponent_manager_name']
df_club_games.drop(columns=remover_colunas, inplace=True)

In [173]:
#Como queremos trabalhar apenas com jogos de campeonatos e não copas, vamos remover todas as linhas que possuem a competição como Copa
#Usando dropna para remover linhas com valores nulos
df_club_games = df_club_games.dropna(subset=['own_position'])
df_club_games.head(10)

,game_id,club_id,own_goals,own_position,opponent_id,opponent_goals,opponent_position,hosting,is_win
4,2321027,33.0,3.0,8.0,41.0,3.0,9.0,1,0
5,2321033,23.0,0.0,13.0,86.0,1.0,7.0,1,0
6,2321044,16.0,2.0,1.0,23.0,1.0,15.0,1,1
7,2321060,23.0,0.0,18.0,24.0,2.0,11.0,1,0
8,2321063,33.0,2.0,13.0,15.0,0.0,3.0,1,1
9,2321072,16.0,6.0,1.0,41.0,2.0,15.0,1,1
10,2321079,23.0,1.0,18.0,4.0,1.0,16.0,1,0
11,2321086,4.0,1.0,15.0,16.0,1.0,1.0,1,0
12,2321119,15.0,1.0,3.0,27.0,1.0,1.0,1,0
13,2321152,44.0,0.0,7.0,33.0,2.0,6.0,1,0

In [174]:
df_games = pd.read_csv('archive/games.csv')
df_games.head(10)

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2321027,L1,2013,1. Matchday,2013-08-11,33.0,41.0,3.0,3.0,8.0,...,Veltins-Arena,61973.0,Manuel Gräfe,https://www.transfermarkt.co.uk/fc-schalke-04_...,4-2-3-1,4-2-3-1,FC Schalke 04,Hamburger SV,3:3,domestic_league
1,2321033,L1,2013,1. Matchday,2013-08-10,23.0,86.0,0.0,1.0,13.0,...,EINTRACHT-Stadion,23000.0,Deniz Aytekin,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-3-1-2,Eintracht Braunschweig,Sportverein Werder Bremen von 1899,0:1,domestic_league
2,2321044,L1,2013,2. Matchday,2013-08-18,16.0,23.0,2.0,1.0,1.0,...,SIGNAL IDUNA PARK,80200.0,Peter Sippel,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,4-3-2-1,Borussia Dortmund,Eintracht Braunschweig,2:1,domestic_league
3,2321060,L1,2013,3. Matchday,2013-08-25,23.0,24.0,0.0,2.0,18.0,...,EINTRACHT-Stadion,23325.0,Wolfgang Stark,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-2-3-1,Eintracht Braunschweig,Eintracht Frankfurt Fußball AG,0:2,domestic_league
4,2321072,L1,2013,5. Matchday,2013-09-14,16.0,41.0,6.0,2.0,1.0,...,SIGNAL IDUNA PARK,80645.0,Tobias Welz,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,3-5-2,Borussia Dortmund,Hamburger SV,6:2,domestic_league
5,2321079,L1,2013,5. Matchday,2013-09-15,23.0,4.0,1.0,1.0,18.0,...,EINTRACHT-Stadion,22570.0,Marco Fritz,https://www.transfermarkt.co.uk/eintracht-brau...,4-4-2 double 6,4-2-3-1,Eintracht Braunschweig,1.FC Nuremberg,1:1,domestic_league
6,2321086,L1,2013,6. Matchday,2013-09-21,4.0,16.0,1.0,1.0,15.0,...,Max-Morlock-Stadion,50000.0,Knut Kircher,https://www.transfermarkt.co.uk/1-fc-nuremberg...,4-2-3-1,4-2-3-1,1.FC Nuremberg,Borussia Dortmund,1:1,domestic_league
7,2321152,L1,2013,11. Matchday,2013-11-02,44.0,33.0,0.0,2.0,7.0,...,Olympiastadion Berlin,69277.0,Günter Perl,https://www.transfermarkt.co.uk/hertha-bsc_fc-...,4-2-3-1,4-2-3-1,Hertha BSC,FC Schalke 04,0:2,domestic_league
8,2321205,L1,2013,17. Matchday,2013-12-21,41.0,39.0,2.0,3.0,14.0,...,Volksparkstadion,50000.0,Bastian Dankert,https://www.transfermarkt.co.uk/hamburger-sv_1...,4-2-3-1,4-4-2 Diamond,Hamburger SV,1. Fußball- und Sportverein Mainz 05,2:3,domestic_league
9,2321233,L1,2013,20. Matchday,2014-02-08,41.0,44.0,0.0,3.0,17.0,...,Volksparkstadion,48593.0,Deniz Aytekin,https://www.transfermarkt.co.uk/hamburger-sv_h...,4-2-3-1,4-1-4-1,Hamburger SV,Hertha BSC,0:3,domestic_league

In [175]:
df_games.columns.tolist()

['game_id',
 'competition_id',
 'season',
 'round',
 'date',
 'home_club_id',
 'away_club_id',
 'home_club_goals',
 'away_club_goals',
 'home_club_position',
 'away_club_position',
 'home_club_manager_name',
 'away_club_manager_name',
 'stadium',
 'attendance',
 'referee',
 'url',
 'home_club_formation',
 'away_club_formation',
 'home_club_name',
 'away_club_name',
 'aggregate',
 'competition_type']

In [176]:
#Vamos retirar algumas colunas que não são necessárias para a análise
remover_colunas = ['referee','url','home_club_name','away_club_name','home_club_manager_name',
                   'away_club_manager_name','stadium']
df_games.drop(columns=remover_colunas, inplace=True)

In [177]:
#Vamos mostrar a tabela novamente
df_games.head(10)

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,attendance,home_club_formation,away_club_formation,aggregate,competition_type
0,2321027,L1,2013,1. Matchday,2013-08-11,33.0,41.0,3.0,3.0,8.0,9.0,61973.0,4-2-3-1,4-2-3-1,3:3,domestic_league
1,2321033,L1,2013,1. Matchday,2013-08-10,23.0,86.0,0.0,1.0,13.0,7.0,23000.0,4-3-2-1,4-3-1-2,0:1,domestic_league
2,2321044,L1,2013,2. Matchday,2013-08-18,16.0,23.0,2.0,1.0,1.0,15.0,80200.0,4-2-3-1,4-3-2-1,2:1,domestic_league
3,2321060,L1,2013,3. Matchday,2013-08-25,23.0,24.0,0.0,2.0,18.0,11.0,23325.0,4-3-2-1,4-2-3-1,0:2,domestic_league
4,2321072,L1,2013,5. Matchday,2013-09-14,16.0,41.0,6.0,2.0,1.0,15.0,80645.0,4-2-3-1,3-5-2,6:2,domestic_league
5,2321079,L1,2013,5. Matchday,2013-09-15,23.0,4.0,1.0,1.0,18.0,16.0,22570.0,4-4-2 double 6,4-2-3-1,1:1,domestic_league
6,2321086,L1,2013,6. Matchday,2013-09-21,4.0,16.0,1.0,1.0,15.0,1.0,50000.0,4-2-3-1,4-2-3-1,1:1,domestic_league
7,2321152,L1,2013,11. Matchday,2013-11-02,44.0,33.0,0.0,2.0,7.0,6.0,69277.0,4-2-3-1,4-2-3-1,0:2,domestic_league
8,2321205,L1,2013,17. Matchday,2013-12-21,41.0,39.0,2.0,3.0,14.0,9.0,50000.0,4-2-3-1,4-4-2 Diamond,2:3,domestic_league
9,2321233,L1,2013,20. Matchday,2014-02-08,41.0,44.0,0.0,3.0,17.0,7.0,48593.0,4-2-3-1,4-1-4-1,0:3,domestic_league

In [178]:
df_games['competition_type'].unique()
#Vamos retirar as linhas que possuem a competição como Copa
df_games = df_games[df_games['competition_type'] == 'domestic_league']

In [179]:
df_games['competition_type'].unique()
#Agora que já normalizamos podemos retirar essa linha 
df_games = df_games.drop(columns=['competition_type'])

In [180]:
#Vamos analisar agora as formações dos dois times
df_games['home_club_formation'].unique()

array(['4-2-3-1', '4-3-2-1', '4-4-2 double 6', '4-3-3 Defending',
       '4-3-3 Attacking', '4-5-1 flat', '4-1-4-1', '4-3-1-2',
       '3-5-2 flat', '4-4-2 Diamond', '5-4-1', '4-4-1-1', '4-4-2',
       '3-4-2-1', '5-2-3', '4-1-3-2', '5-3-2', '3-5-2', '3-6-1', '4-3-3',
       '4-5-1', '3-4-3', nan, '5-4-1 Diamond', '2-5-3', '3-4-1-2',
       '3-5-2 Attacking', '3-1-4-2', '3-4-3 Diamond', '3-3-3-1', '4-2-4',
       '4-6-0', '6-1-3', '6-2-2', '2-4-4', '2-7-1', '3-3-4'], dtype=object)

In [181]:
mapeamento_formações = {
    np.nan: 0,
    '4-2-3-1': 1,
    '4-3-2-1': 2,
    '4-4-2 double 6': 3,
    '4-3-3 Defending': 4,
    '4-3-3 Attacking': 5,
    '4-5-1 flat': 6,
    '4-1-4-1': 7,
    '4-3-1-2': 8,
    '3-5-2 flat': 9,
    '4-4-2 Diamond': 10,
    '5-4-1': 11,
    '4-4-1-1': 12,
    '4-4-2': 13,
    '3-4-2-1': 14,
    '5-2-3': 15,
    '4-1-3-2': 16,
    '5-3-2': 17,
    '3-5-2': 18,
    '3-6-1': 19,
    '4-3-3': 20,
    '4-5-1': 21,
    '3-4-3': 22,
    '5-4-1 Diamond': 23,
    '2-5-3' : 24,
    '3-4-1-2': 25,
    '3-5-2 Attacking': 26,
    '3-1-4-2': 27,
    '3-4-3 Diamond': 28,
    '3-3-3-1': 29,
    '4-2-4': 30,
    '4-6-0': 31,
    '6-1-3': 32,
    '6-2-2': 33,
    '2-4-4': 34,
    '2-7-1' : 35,
    '3-3-4': 36
}

df_games['home_club_formation'] = df_games['home_club_formation'].map(mapeamento_formações)
df_games['away_club_formation'] = df_games['away_club_formation'].map(mapeamento_formações)

In [182]:
#Vamos retirar o texto matchday da coluna round 
df_games['round'].unique()
# Extrai apenas os números
df_games['round'] = df_games['round'].str.extract(r'(\d+)')

In [183]:
df_games['round'].unique()

array(['1', '2', '3', '5', '6', '11', '17', '20', '29', '31', '32', '18',
       '8', '10', '15', '19', '22', '21', '24', '28', '34', '36', '14',
       '13', '23', '37', '35', '9', '26', '25', '30', '4', '12', '7',
       '33', '27', '16', '38', '39', '41', '42', '40'], dtype=object)

In [184]:
df_games.head(10)

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,L1,2013,1,2013-08-11,33.0,41.0,3.0,3.0,8.0,9.0,61973.0,1,1.0,3:3
1,2321033,L1,2013,1,2013-08-10,23.0,86.0,0.0,1.0,13.0,7.0,23000.0,2,8.0,0:1
2,2321044,L1,2013,2,2013-08-18,16.0,23.0,2.0,1.0,1.0,15.0,80200.0,1,2.0,2:1
3,2321060,L1,2013,3,2013-08-25,23.0,24.0,0.0,2.0,18.0,11.0,23325.0,2,1.0,0:2
4,2321072,L1,2013,5,2013-09-14,16.0,41.0,6.0,2.0,1.0,15.0,80645.0,1,18.0,6:2
5,2321079,L1,2013,5,2013-09-15,23.0,4.0,1.0,1.0,18.0,16.0,22570.0,3,1.0,1:1
6,2321086,L1,2013,6,2013-09-21,4.0,16.0,1.0,1.0,15.0,1.0,50000.0,1,1.0,1:1
7,2321152,L1,2013,11,2013-11-02,44.0,33.0,0.0,2.0,7.0,6.0,69277.0,1,1.0,0:2
8,2321205,L1,2013,17,2013-12-21,41.0,39.0,2.0,3.0,14.0,9.0,50000.0,1,10.0,2:3
9,2321233,L1,2013,20,2014-02-08,41.0,44.0,0.0,3.0,17.0,7.0,48593.0,1,7.0,0:3

In [185]:
#Vendo o resultado das partidas
df_games['aggregate'].unique()

array(['3:3', '0:1', '2:1', '0:2', '6:2', '1:1', '2:3', '0:3', '0:0',
       '2:2', '1:2', '4:1', '3:1', '2:6', '3:4', '3:0', '1:0', '4:3',
       '1:4', '4:2', '4:0', '1:3', '9:1', '2:4', '2:0', '3:2', '7:0',
       '0:5', '8:0', '0:4', '5:1', '1:7', '5:3', '5:0', '0:7', '6:0',
       '2:5', '6:1', '5:2', '4:5', '1:5', '7:1', '3:5', '7:2', '1:6',
       '8:2', '0:6', '4:4', '8:1', '2:7', '9:0', '10:0', '2:8', '6:3',
       '3:6', '5:4', '5:5', '7:3', '0:8', '0:9', '6:4', '0:13', '10:1',
       '3:7', '4:6', '9:2', '1:8', '10:2'], dtype=object)

In [186]:

mapeamento_partidas = {
    # Empates
    '0:0': 0,
    '1:1': 1,
    '2:2': 2,
    '3:3': 3,
    '4:4': 4,
    '5:5': 5,

    # Vitórias/Derrotas (valores menores primeiro para padronização)
    '0:1': 6,  # e '1:0'
    '0:2': 7,  # e '2:0'
    '0:3': 8,  # e '3:0'
    '0:4': 9,  # e '4:0'
    '0:5': 10, # e '5:0'
    '0:6': 11, # e '6:0'
    '0:7': 12, # e '7:0'
    '0:8': 13, # e '8:0'
    '0:9': 14, # e '9:0'
    '0:13': 15, # e '13:0'
    '1:2': 16, # e '2:1'
    '1:3': 17, # e '3:1'
    '1:4': 18, # e '4:1'
    '1:5': 19, # e '5:1'
    '1:6': 20, # e '6:1'
    '1:7': 21, # e '7:1'
    '1:8': 22, # e '8:1'
    '2:3': 23, # e '3:2'
    '2:4': 24, # e '4:2'
    '2:5': 25, # e '5:2'
    '2:6': 26, # e '6:2'
    '2:7': 27, # e '7:2'
    '2:8': 28, # e '8:2'
    '3:4': 29, # e '4:3'
    '3:5': 30, # e '5:3'
    '3:6': 31, # e '6:3'
    '3:7': 32, # e '7:3'
    '4:5': 33, # e '5:4'
    '4:6': 34, # e '6:4'
    '9:1': 35, # e '1:9'
    '9:2': 36, # e '2:9'
    '10:0': 37, # e '0:10'
    '10:1': 38, # e '1:10'
    '10:2': 39, # e '2:10'
}

# Adicionando as chaves invertidas para garantir o mesmo mapeamento
mapeamento_partidas['1:0'] = mapeamento_partidas['0:1']
mapeamento_partidas['2:0'] = mapeamento_partidas['0:2']
mapeamento_partidas['3:0'] = mapeamento_partidas['0:3']
mapeamento_partidas['4:0'] = mapeamento_partidas['0:4']
mapeamento_partidas['5:0'] = mapeamento_partidas['0:5']
mapeamento_partidas['6:0'] = mapeamento_partidas['0:6']
mapeamento_partidas['7:0'] = mapeamento_partidas['0:7']
mapeamento_partidas['8:0'] = mapeamento_partidas['0:8']
mapeamento_partidas['9:0'] = mapeamento_partidas['0:9']
mapeamento_partidas['13:0'] = mapeamento_partidas['0:13']
mapeamento_partidas['2:1'] = mapeamento_partidas['1:2']
mapeamento_partidas['3:1'] = mapeamento_partidas['1:3']
mapeamento_partidas['4:1'] = mapeamento_partidas['1:4']
mapeamento_partidas['5:1'] = mapeamento_partidas['1:5']
mapeamento_partidas['6:1'] = mapeamento_partidas['1:6']
mapeamento_partidas['7:1'] = mapeamento_partidas['1:7']
mapeamento_partidas['8:1'] = mapeamento_partidas['1:8']
mapeamento_partidas['3:2'] = mapeamento_partidas['2:3']
mapeamento_partidas['4:2'] = mapeamento_partidas['2:4']
mapeamento_partidas['5:2'] = mapeamento_partidas['2:5']
mapeamento_partidas['6:2'] = mapeamento_partidas['2:6']
mapeamento_partidas['7:2'] = mapeamento_partidas['2:7']
mapeamento_partidas['8:2'] = mapeamento_partidas['2:8']
mapeamento_partidas['4:3'] = mapeamento_partidas['3:4']
mapeamento_partidas['5:3'] = mapeamento_partidas['3:5']
mapeamento_partidas['6:3'] = mapeamento_partidas['3:6']
mapeamento_partidas['7:3'] = mapeamento_partidas['3:7']
mapeamento_partidas['5:4'] = mapeamento_partidas['4:5']
mapeamento_partidas['6:4'] = mapeamento_partidas['4:6']
mapeamento_partidas['1:9'] = mapeamento_partidas['9:1']
mapeamento_partidas['2:9'] = mapeamento_partidas['9:2']
mapeamento_partidas['0:10'] = mapeamento_partidas['10:0']
mapeamento_partidas['1:10'] = mapeamento_partidas['10:1']
mapeamento_partidas['2:10'] = mapeamento_partidas['10:2']

df_games['aggregate'] = df_games['aggregate'].map(mapeamento_partidas)

In [187]:
df_games['aggregate'].unique()

array([ 3,  6, 16,  7, 26,  1, 23,  8,  0,  2, 18, 17, 29, 24,  9, 35, 12,
       10, 13, 19, 21, 30, 11, 25, 20, 33, 27, 28,  4, 22, 14, 37, 31,  5,
       32, 34, 15, 38, 36, 39], dtype=int64)

In [188]:
#Vamos juntar os datframes df_club_games com df_games
df_unido = pd.merge(df_club_games, df_games, on='game_id', how='inner')
df_unido.head(10)

,game_id,club_id,own_goals,own_position,opponent_id,opponent_goals,opponent_position,hosting,is_win,competition_id,...,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,33.0,3.0,8.0,41.0,3.0,9.0,1,0,L1,...,33.0,41.0,3.0,3.0,8.0,9.0,61973.0,1,1.0,3
1,2321033,23.0,0.0,13.0,86.0,1.0,7.0,1,0,L1,...,23.0,86.0,0.0,1.0,13.0,7.0,23000.0,2,8.0,6
2,2321044,16.0,2.0,1.0,23.0,1.0,15.0,1,1,L1,...,16.0,23.0,2.0,1.0,1.0,15.0,80200.0,1,2.0,16
3,2321060,23.0,0.0,18.0,24.0,2.0,11.0,1,0,L1,...,23.0,24.0,0.0,2.0,18.0,11.0,23325.0,2,1.0,7
4,2321063,33.0,2.0,13.0,15.0,0.0,3.0,1,1,L1,...,33.0,15.0,2.0,0.0,13.0,3.0,61973.0,1,5.0,7
5,2321072,16.0,6.0,1.0,41.0,2.0,15.0,1,1,L1,...,16.0,41.0,6.0,2.0,1.0,15.0,80645.0,1,18.0,26
6,2321079,23.0,1.0,18.0,4.0,1.0,16.0,1,0,L1,...,23.0,4.0,1.0,1.0,18.0,16.0,22570.0,3,1.0,1
7,2321086,4.0,1.0,15.0,16.0,1.0,1.0,1,0,L1,...,4.0,16.0,1.0,1.0,15.0,1.0,50000.0,1,1.0,1
8,2321119,15.0,1.0,3.0,27.0,1.0,1.0,1,0,L1,...,15.0,27.0,1.0,1.0,3.0,1.0,30210.0,2,7.0,1
9,2321152,44.0,0.0,7.0,33.0,2.0,6.0,1,0,L1,...,44.0,33.0,0.0,2.0,7.0,6.0,69277.0,1,1.0,7

In [189]:
#Antes de fazer isso, vamos ver se as colunas já não estão duplicadas
df_unido.duplicated().sum()

0

In [190]:
#Agora vamos separar os times em casa e fora em colunas separadas
#Para isso, vamos ter que adaptar diversos passos da lógica. Exemplo disso é a vitória, que caso seja 1 significa que o time da casa ganhou e o time visitante perdeu. Além disso, vamos ter que duplicar as linhas e retirar todas as colunas que só tenham a ver com um deles
#Vamos duplicar o dataframe
df_casa = df_unido.copy()
df_vistante = df_unido.copy()

In [191]:
#Vamos rever todas as colunas que temos
df_casa.columns.tolist()

['game_id',
 'club_id',
 'own_goals',
 'own_position',
 'opponent_id',
 'opponent_goals',
 'opponent_position',
 'hosting',
 'is_win',
 'competition_id',
 'season',
 'round',
 'date',
 'home_club_id',
 'away_club_id',
 'home_club_goals',
 'away_club_goals',
 'home_club_position',
 'away_club_position',
 'attendance',
 'home_club_formation',
 'away_club_formation',
 'aggregate']

In [192]:
#Parâmetros exclusivos do time da casa 
#Refazeno a lógica. Vamos manter sim opponent goals, opponent position e away club goals, pois são importantes para a análise.
casa = ['club_id','home_club_id','home_club_goals','home_club_position']
#Parâmetros exclusivos do time visitante
visitante = ['opponent_id','away_club_id','away_club_goals','away_club_position']

#Vamos retirar os parametros casa do dataframe df_visitante
df_vistante.drop(columns=casa, inplace=True)

#Vamos retirar os parametros visitante do dataframe df_casa
df_casa.drop(columns=visitante, inplace=True)

In [193]:
#Verificando o df_casa
df_casa.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,home_club_id,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,33.0,3.0,8.0,3.0,9.0,1,0,L1,2013,1,2013-08-11,33.0,3.0,8.0,61973.0,1,1.0,3
1,2321033,23.0,0.0,13.0,1.0,7.0,1,0,L1,2013,1,2013-08-10,23.0,0.0,13.0,23000.0,2,8.0,6
2,2321044,16.0,2.0,1.0,1.0,15.0,1,1,L1,2013,2,2013-08-18,16.0,2.0,1.0,80200.0,1,2.0,16
3,2321060,23.0,0.0,18.0,2.0,11.0,1,0,L1,2013,3,2013-08-25,23.0,0.0,18.0,23325.0,2,1.0,7
4,2321063,33.0,2.0,13.0,0.0,3.0,1,1,L1,2013,4,2013-08-31,33.0,2.0,13.0,61973.0,1,5.0,7
5,2321072,16.0,6.0,1.0,2.0,15.0,1,1,L1,2013,5,2013-09-14,16.0,6.0,1.0,80645.0,1,18.0,26
6,2321079,23.0,1.0,18.0,1.0,16.0,1,0,L1,2013,5,2013-09-15,23.0,1.0,18.0,22570.0,3,1.0,1
7,2321086,4.0,1.0,15.0,1.0,1.0,1,0,L1,2013,6,2013-09-21,4.0,1.0,15.0,50000.0,1,1.0,1
8,2321119,15.0,1.0,3.0,1.0,1.0,1,0,L1,2013,8,2013-10-05,15.0,1.0,3.0,30210.0,2,7.0,1
9,2321152,44.0,0.0,7.0,2.0,6.0,1,0,L1,2013,11,2013-11-02,44.0,0.0,7.0,69277.0,1,1.0,7

In [194]:
#Verificando o df vistante
df_vistante.head(10)

,game_id,own_goals,own_position,opponent_id,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,away_club_id,away_club_goals,away_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,3.0,8.0,41.0,3.0,9.0,1,0,L1,2013,1,2013-08-11,41.0,3.0,9.0,61973.0,1,1.0,3
1,2321033,0.0,13.0,86.0,1.0,7.0,1,0,L1,2013,1,2013-08-10,86.0,1.0,7.0,23000.0,2,8.0,6
2,2321044,2.0,1.0,23.0,1.0,15.0,1,1,L1,2013,2,2013-08-18,23.0,1.0,15.0,80200.0,1,2.0,16
3,2321060,0.0,18.0,24.0,2.0,11.0,1,0,L1,2013,3,2013-08-25,24.0,2.0,11.0,23325.0,2,1.0,7
4,2321063,2.0,13.0,15.0,0.0,3.0,1,1,L1,2013,4,2013-08-31,15.0,0.0,3.0,61973.0,1,5.0,7
5,2321072,6.0,1.0,41.0,2.0,15.0,1,1,L1,2013,5,2013-09-14,41.0,2.0,15.0,80645.0,1,18.0,26
6,2321079,1.0,18.0,4.0,1.0,16.0,1,0,L1,2013,5,2013-09-15,4.0,1.0,16.0,22570.0,3,1.0,1
7,2321086,1.0,15.0,16.0,1.0,1.0,1,0,L1,2013,6,2013-09-21,16.0,1.0,1.0,50000.0,1,1.0,1
8,2321119,1.0,3.0,27.0,1.0,1.0,1,0,L1,2013,8,2013-10-05,27.0,1.0,1.0,30210.0,2,7.0,1
9,2321152,0.0,7.0,33.0,2.0,6.0,1,0,L1,2013,11,2013-11-02,33.0,2.0,6.0,69277.0,1,1.0,7

In [195]:
# Cria coluna baseada no aggregate
# Cria coluna baseada no aggregate - apenas empate ou vitória
df_casa['empate'] = np.where(
    df_casa['aggregate'] <= 5, 0,  # Empate = 0
    1                               # Vitória/Derrota = 1
)

df_casa.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,home_club_id,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate,empate
0,2321027,33.0,3.0,8.0,3.0,9.0,1,0,L1,2013,1,2013-08-11,33.0,3.0,8.0,61973.0,1,1.0,3,0
1,2321033,23.0,0.0,13.0,1.0,7.0,1,0,L1,2013,1,2013-08-10,23.0,0.0,13.0,23000.0,2,8.0,6,1
2,2321044,16.0,2.0,1.0,1.0,15.0,1,1,L1,2013,2,2013-08-18,16.0,2.0,1.0,80200.0,1,2.0,16,1
3,2321060,23.0,0.0,18.0,2.0,11.0,1,0,L1,2013,3,2013-08-25,23.0,0.0,18.0,23325.0,2,1.0,7,1
4,2321063,33.0,2.0,13.0,0.0,3.0,1,1,L1,2013,4,2013-08-31,33.0,2.0,13.0,61973.0,1,5.0,7,1
5,2321072,16.0,6.0,1.0,2.0,15.0,1,1,L1,2013,5,2013-09-14,16.0,6.0,1.0,80645.0,1,18.0,26,1
6,2321079,23.0,1.0,18.0,1.0,16.0,1,0,L1,2013,5,2013-09-15,23.0,1.0,18.0,22570.0,3,1.0,1,0
7,2321086,4.0,1.0,15.0,1.0,1.0,1,0,L1,2013,6,2013-09-21,4.0,1.0,15.0,50000.0,1,1.0,1,0
8,2321119,15.0,1.0,3.0,1.0,1.0,1,0,L1,2013,8,2013-10-05,15.0,1.0,3.0,30210.0,2,7.0,1,0
9,2321152,44.0,0.0,7.0,2.0,6.0,1,0,L1,2013,11,2013-11-02,44.0,0.0,7.0,69277.0,1,1.0,7,1

In [196]:
#Agora vamos analisar 2 colunas. Se for empate, nada a olhar. Caso não seja, devemos verificar se a coluna is win é 1 ou 0: dessa forma, vamos finalmente determinar se empatou, ganhou ou perdeu

for i in range(len(df_casa)):
    if df_casa['empate'][i] == 0: #se for 0 empatou
        df_casa.loc[i, 'is_win'] = 2

#Agora podemos remover a coluna empate, pois não precisamos mais dela
df_casa.drop(columns=['empate'], inplace=True)

df_casa.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,home_club_id,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,33.0,3.0,8.0,3.0,9.0,1,2,L1,2013,1,2013-08-11,33.0,3.0,8.0,61973.0,1,1.0,3
1,2321033,23.0,0.0,13.0,1.0,7.0,1,0,L1,2013,1,2013-08-10,23.0,0.0,13.0,23000.0,2,8.0,6
2,2321044,16.0,2.0,1.0,1.0,15.0,1,1,L1,2013,2,2013-08-18,16.0,2.0,1.0,80200.0,1,2.0,16
3,2321060,23.0,0.0,18.0,2.0,11.0,1,0,L1,2013,3,2013-08-25,23.0,0.0,18.0,23325.0,2,1.0,7
4,2321063,33.0,2.0,13.0,0.0,3.0,1,1,L1,2013,4,2013-08-31,33.0,2.0,13.0,61973.0,1,5.0,7
5,2321072,16.0,6.0,1.0,2.0,15.0,1,1,L1,2013,5,2013-09-14,16.0,6.0,1.0,80645.0,1,18.0,26
6,2321079,23.0,1.0,18.0,1.0,16.0,1,2,L1,2013,5,2013-09-15,23.0,1.0,18.0,22570.0,3,1.0,1
7,2321086,4.0,1.0,15.0,1.0,1.0,1,2,L1,2013,6,2013-09-21,4.0,1.0,15.0,50000.0,1,1.0,1
8,2321119,15.0,1.0,3.0,1.0,1.0,1,2,L1,2013,8,2013-10-05,15.0,1.0,3.0,30210.0,2,7.0,1
9,2321152,44.0,0.0,7.0,2.0,6.0,1,0,L1,2013,11,2013-11-02,44.0,0.0,7.0,69277.0,1,1.0,7

In [197]:
#Agora vamos fazer o mesmo para o time visitante
#No entanto, temos um detalhe crucial: Antes devemos inverter toda a coluna is_win, pois o time visitante é o inverso do time da casa
#Também temos que inverter a coluna hosting, pois o time visitante é o inverso do time da casa
for i in range(len(df_vistante)):
    if df_vistante['is_win'][i] == 0:
        df_vistante.loc[i, 'is_win'] = 1 
    elif df_vistante['is_win'][i] == 1:
        df_vistante.loc[i, 'is_win'] = 0
    if df_vistante['hosting'][i] == 1:
        df_vistante.loc[i, 'hosting'] = 0
    elif df_vistante['hosting'][i] == 0:
        df_vistante.loc[i, 'hosting'] = 1
    

df_vistante.head(10)

,game_id,own_goals,own_position,opponent_id,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,away_club_id,away_club_goals,away_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,3.0,8.0,41.0,3.0,9.0,0,1,L1,2013,1,2013-08-11,41.0,3.0,9.0,61973.0,1,1.0,3
1,2321033,0.0,13.0,86.0,1.0,7.0,0,1,L1,2013,1,2013-08-10,86.0,1.0,7.0,23000.0,2,8.0,6
2,2321044,2.0,1.0,23.0,1.0,15.0,0,0,L1,2013,2,2013-08-18,23.0,1.0,15.0,80200.0,1,2.0,16
3,2321060,0.0,18.0,24.0,2.0,11.0,0,1,L1,2013,3,2013-08-25,24.0,2.0,11.0,23325.0,2,1.0,7
4,2321063,2.0,13.0,15.0,0.0,3.0,0,0,L1,2013,4,2013-08-31,15.0,0.0,3.0,61973.0,1,5.0,7
5,2321072,6.0,1.0,41.0,2.0,15.0,0,0,L1,2013,5,2013-09-14,41.0,2.0,15.0,80645.0,1,18.0,26
6,2321079,1.0,18.0,4.0,1.0,16.0,0,1,L1,2013,5,2013-09-15,4.0,1.0,16.0,22570.0,3,1.0,1
7,2321086,1.0,15.0,16.0,1.0,1.0,0,1,L1,2013,6,2013-09-21,16.0,1.0,1.0,50000.0,1,1.0,1
8,2321119,1.0,3.0,27.0,1.0,1.0,0,1,L1,2013,8,2013-10-05,27.0,1.0,1.0,30210.0,2,7.0,1
9,2321152,0.0,7.0,33.0,2.0,6.0,0,1,L1,2013,11,2013-11-02,33.0,2.0,6.0,69277.0,1,1.0,7

In [198]:
#Agora sim vamos criar o empate e duplicar o processo para o time visitante

# Cria coluna baseada no aggregate
# Cria coluna baseada no aggregate - apenas empate ou vitória
df_vistante['empate'] = np.where(
    df_vistante['aggregate'] <= 5, 0,  # Empate = 0
    1                               # Vitória/Derrota = 1
)

df_vistante.head(10)

#Agora vamos analisar 2 colunas. Se for empate, nada a olhar. Caso não seja, devemos verificar se a coluna is win é 1 ou 0: dessa forma, vamos finalmente determinar se empatou, ganhou ou perdeu

for i in range(len(df_vistante)):
    if df_vistante['empate'][i] == 0: #se for 0 empatou
        df_vistante.loc[i, 'is_win'] = 2

#Agora podemos remover a coluna empate, pois não precisamos mais dela
df_vistante.drop(columns=['empate'], inplace=True)

df_vistante.head(10)

,game_id,own_goals,own_position,opponent_id,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,away_club_id,away_club_goals,away_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,3.0,8.0,41.0,3.0,9.0,0,2,L1,2013,1,2013-08-11,41.0,3.0,9.0,61973.0,1,1.0,3
1,2321033,0.0,13.0,86.0,1.0,7.0,0,1,L1,2013,1,2013-08-10,86.0,1.0,7.0,23000.0,2,8.0,6
2,2321044,2.0,1.0,23.0,1.0,15.0,0,0,L1,2013,2,2013-08-18,23.0,1.0,15.0,80200.0,1,2.0,16
3,2321060,0.0,18.0,24.0,2.0,11.0,0,1,L1,2013,3,2013-08-25,24.0,2.0,11.0,23325.0,2,1.0,7
4,2321063,2.0,13.0,15.0,0.0,3.0,0,0,L1,2013,4,2013-08-31,15.0,0.0,3.0,61973.0,1,5.0,7
5,2321072,6.0,1.0,41.0,2.0,15.0,0,0,L1,2013,5,2013-09-14,41.0,2.0,15.0,80645.0,1,18.0,26
6,2321079,1.0,18.0,4.0,1.0,16.0,0,2,L1,2013,5,2013-09-15,4.0,1.0,16.0,22570.0,3,1.0,1
7,2321086,1.0,15.0,16.0,1.0,1.0,0,2,L1,2013,6,2013-09-21,16.0,1.0,1.0,50000.0,1,1.0,1
8,2321119,1.0,3.0,27.0,1.0,1.0,0,2,L1,2013,8,2013-10-05,27.0,1.0,1.0,30210.0,2,7.0,1
9,2321152,0.0,7.0,33.0,2.0,6.0,0,1,L1,2013,11,2013-11-02,33.0,2.0,6.0,69277.0,1,1.0,7

In [199]:
df_vistante.columns.tolist()

['game_id',
 'own_goals',
 'own_position',
 'opponent_id',
 'opponent_goals',
 'opponent_position',
 'hosting',
 'is_win',
 'competition_id',
 'season',
 'round',
 'date',
 'away_club_id',
 'away_club_goals',
 'away_club_position',
 'attendance',
 'home_club_formation',
 'away_club_formation',
 'aggregate']

In [200]:
df_casa.columns.tolist()

['game_id',
 'club_id',
 'own_goals',
 'own_position',
 'opponent_goals',
 'opponent_position',
 'hosting',
 'is_win',
 'competition_id',
 'season',
 'round',
 'date',
 'home_club_id',
 'home_club_goals',
 'home_club_position',
 'attendance',
 'home_club_formation',
 'away_club_formation',
 'aggregate']

In [201]:
#Vamos agora renomear as colunas do df_vistante para que fiquem IGUAIS as do df_casa para depois podermos juntar os dois dataframes
df_visitante2 = df_vistante.rename(columns={
    'opponent_goals': 'own_goals',
    'opponent_position': 'own_position',
    'opponent_id': 'club_id',
    'away_club_id': 'home_club_id',
    'away_club_goals': 'home_club_goals',
    'away_club_formation': 'home_club_formation',
    'away_club_position': 'home_club_position',
    'home_club_formation': 'away_club_formation',
    'own_goals': 'opponent_goals',
    'own_position': 'opponent_position',
})

In [202]:
df_unido2 = pd.concat([df_casa, df_visitante2], ignore_index=True)
df_unido2.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,home_club_id,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate
0,2321027,33.0,3.0,8.0,3.0,9.0,1,2,L1,2013,1,2013-08-11,33.0,3.0,8.0,61973.0,1.0,1.0,3
1,2321033,23.0,0.0,13.0,1.0,7.0,1,0,L1,2013,1,2013-08-10,23.0,0.0,13.0,23000.0,2.0,8.0,6
2,2321044,16.0,2.0,1.0,1.0,15.0,1,1,L1,2013,2,2013-08-18,16.0,2.0,1.0,80200.0,1.0,2.0,16
3,2321060,23.0,0.0,18.0,2.0,11.0,1,0,L1,2013,3,2013-08-25,23.0,0.0,18.0,23325.0,2.0,1.0,7
4,2321063,33.0,2.0,13.0,0.0,3.0,1,1,L1,2013,4,2013-08-31,33.0,2.0,13.0,61973.0,1.0,5.0,7
5,2321072,16.0,6.0,1.0,2.0,15.0,1,1,L1,2013,5,2013-09-14,16.0,6.0,1.0,80645.0,1.0,18.0,26
6,2321079,23.0,1.0,18.0,1.0,16.0,1,2,L1,2013,5,2013-09-15,23.0,1.0,18.0,22570.0,3.0,1.0,1
7,2321086,4.0,1.0,15.0,1.0,1.0,1,2,L1,2013,6,2013-09-21,4.0,1.0,15.0,50000.0,1.0,1.0,1
8,2321119,15.0,1.0,3.0,1.0,1.0,1,2,L1,2013,8,2013-10-05,15.0,1.0,3.0,30210.0,2.0,7.0,1
9,2321152,44.0,0.0,7.0,2.0,6.0,1,0,L1,2013,11,2013-11-02,44.0,0.0,7.0,69277.0,1.0,1.0,7

In [203]:
# Mostra todas as linhas onde club_id ≠ home_club_id
linhas_diferentes = df_casa[df_casa['club_id'] != df_casa['home_club_id']]
linhas_diferentes.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,round,date,home_club_id,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate
51559,2321027,41.0,3.0,9.0,3.0,8.0,0,2,L1,2013,1,2013-08-11,33.0,3.0,8.0,61973.0,1,1.0,3
51560,2321033,86.0,1.0,7.0,0.0,13.0,0,1,L1,2013,1,2013-08-10,23.0,0.0,13.0,23000.0,2,8.0,6
51561,2321044,23.0,1.0,15.0,2.0,1.0,0,0,L1,2013,2,2013-08-18,16.0,2.0,1.0,80200.0,1,2.0,16
51562,2321060,24.0,2.0,11.0,0.0,18.0,0,1,L1,2013,3,2013-08-25,23.0,0.0,18.0,23325.0,2,1.0,7
51563,2321063,15.0,0.0,3.0,2.0,13.0,0,0,L1,2013,4,2013-08-31,33.0,2.0,13.0,61973.0,1,5.0,7
51564,2321072,41.0,2.0,15.0,6.0,1.0,0,0,L1,2013,5,2013-09-14,16.0,6.0,1.0,80645.0,1,18.0,26
51565,2321079,4.0,1.0,16.0,1.0,18.0,0,2,L1,2013,5,2013-09-15,23.0,1.0,18.0,22570.0,3,1.0,1
51566,2321086,16.0,1.0,1.0,1.0,15.0,0,2,L1,2013,6,2013-09-21,4.0,1.0,15.0,50000.0,1,1.0,1
51567,2321119,27.0,1.0,1.0,1.0,3.0,0,2,L1,2013,8,2013-10-05,15.0,1.0,3.0,30210.0,2,7.0,1
51568,2321152,33.0,2.0,6.0,0.0,7.0,0,1,L1,2013,11,2013-11-02,44.0,0.0,7.0,69277.0,1,1.0,7

In [204]:
#Isso significa que já tinha uma coluna invertida antes. Logo, vamos deletar essas linhas do df_unico2
df_unico2 = df_unido2[df_unido2['club_id'] == df_unido2['home_club_id']]
print(len(df_unico2))

103118

In [205]:
# Pronto! Agora podemos trabalhar com as informações da liga e adcionar a esse dataframe
df_competitions.columns.tolist()

['competition_id',
 'competition_code',
 'name',
 'sub_type',
 'type',
 'country_id',
 'country_name',
 'domestic_league_code',
 'confederation',
 'url',
 'is_major_national_league']

In [206]:
df_competitions.head(40)

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...,False
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...,False
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...,False
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...,False
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...,False
5,SUC,supercopa,supercopa,domestic_super_cup,other,157,Spain,ES1,europa,https://www.transfermarkt.co.uk/supercopa/star...,False
6,USC,uefa-super-cup,uefa-super-cup,uefa_super_cup,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-super-cup...,False
7,DK1,superligaen,superligaen,first_tier,domestic_league,39,Denmark,DK1,europa,https://www.transfermarkt.co.uk/superligaen/st...,False
8,EL,europa-league,europa-league,europa_league,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/europa-league/...,False
9,ES1,laliga,laliga,first_tier,domestic_league,157,Spain,ES1,europa,https://www.transfermarkt.co.uk/laliga/startse...,True
10,FR1,ligue-1,ligue-1,first_tier,domestic_league,50,France,FR1,europa,https://www.transfermarkt.co.uk/ligue-1/starts...,True
11,IT1,serie-a,serie-a,first_tier,domestic_league,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/serie-a/starts...,True
12,NL1,eredivisie,eredivisie,first_tier,domestic_league,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/eredivisie/sta...,False
13,RUP,russian-cup,russian-cup,domestic_cup,domestic_cup,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-cup/st...,False
14,PO1,liga-portugal-bwin,liga-portugal-bwin,first_tier,domestic_league,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/liga-portugal-...,False
15,BESC,belgian-supercup,belgian-supercup,domestic_super_cup,other,19,Belgium,BE1,europa,https://www.transfermarkt.co.uk/belgian-superc...,False
16,GB1,premier-league,premier-league,first_tier,domestic_league,189,England,GB1,europa,https://www.transfermarkt.co.uk/premier-league...,True
17,UCOL,uefa-conference-league,uefa-conference-league,uefa_europa_conference_league,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-conferenc...,False
18,ELQ,europa-league-qualifikation,europa-league-qualifikation,europa_league_qualifying,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/europa-league-...,False
19,CGB,efl-cup,efl-cup,league_cup,other,189,England,GB1,europa,https://www.transfermarkt.co.uk/efl-cup/starts...,False
20,DKP,sydbank-pokalen,sydbank-pokalen,domestic_cup,domestic_cup,39,Denmark,DK1,europa,https://www.transfermarkt.co.uk/sydbank-pokale...,False
21,ECLQ,uefa-europa-conference-league-qualifikation,uefa-europa-conference-league-qualifikation,uefa_europa_conference_league_qualifiers,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-europa-co...,False
22,FAC,fa-cup,fa-cup,domestic_cup,domestic_cup,189,England,GB1,europa,https://www.transfermarkt.co.uk/fa-cup/startse...,False
23,NLP,toto-knvb-beker,toto-knvb-beker,domestic_cup,domestic_cup,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/toto-knvb-beke...,False
24,UKRS,ukrainian-super-cup,ukrainian-super-cup,domestic_super_cup,other,177,Ukraine,UKR1,europa,https://www.transfermarkt.co.uk/ukrainian-supe...,False
25,UKR1,premier-liga,premier-liga,first_tier,domestic_league,177,Ukraine,UKR1,europa,https://www.transfermarkt.co.uk/premier-liga/s...,False
26,CDR,copa-del-rey,copa-del-rey,domestic_cup,domestic_cup,157,Spain,ES1,europa,https://www.transfermarkt.co.uk/copa-del-rey/s...,False
27,CL,uefa-champions-league,uefa-champions-league,uefa_champions_league,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-champions...,False
28,GR1,super-league-1,super-league-1,first_tier,domestic_league,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/super-league-1...,False
29,TR1,super-lig,super-lig,first_tier,domestic_league,174,Turkey,TR1,europa,https://www.transfermarkt.co.uk/super-lig/star...,False
30,POCP,allianz-cup,allianz-cup,domestic_cup,domestic_cup,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/allianz-cup/st...,False
31,GBCS,community-shield,community-shield,domestic_super_cup,other,189,England,GB1,europa,https://www.transfermarkt.co.uk/community-shie...,False
32,KLUB,fifa-klub-wm,fifa-klub-wm,fifa_club_world_cup,other,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/fifa-klub-wm/s...,False
33,L1,bundesliga,bundesliga,first_tier,domestic_league,40,Germany,L1,europa,https://www.transfermarkt.co.uk/bundesliga/sta...,True
34,RU1,premier-liga,premier-liga,first_tier,domestic_league,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/premier-liga/s...,False
35,SC1,scottish-premiership,scottish-premiership,first_tier,domestic_league,190,Scotland,SC1,europa,https://www.transfermarkt.co.uk/scottish-premi...,False
36,SCI,supercoppa-italiana,supercoppa-italiana,domestic_super_cup,other,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/supercoppa-ita...,False
37,BE1,jupiler-pro-league,jupiler-pro-league,first_tier,domestic_league,19,Belgium,BE1,europa,https://www.transfermarkt.co.uk/jupiler-pro-le...,False
38,CLQ,uefa-champions-league-qualifikation,uefa-champions-league-qualifikation,uefa_champions_league_qualifying,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-champions...,False
39,DFL,dfl-supercup,dfl-supercup,domestic_super_cup,other,40,Germany,L1,europa,https://www.transfermarkt.co.uk/dfl-supercup/s...,False

In [207]:
df_competitions = df_competitions[['competition_id','country_id','confederation','is_major_national_league','competition_code']]
df_competitions.head(10)

,competition_id,country_id,confederation,is_major_national_league,competition_code
0,CIT,75,europa,False,italy-cup
1,NLSC,122,europa,False,johan-cruijff-schaal
2,GRP,56,europa,False,kypello-elladas
3,POSU,136,europa,False,supertaca-candido-de-oliveira
4,RUSS,141,europa,False,russian-super-cup
5,SUC,157,europa,False,supercopa
6,USC,-1,europa,False,uefa-super-cup
7,DK1,39,europa,False,superligaen
8,EL,-1,europa,False,europa-league
9,ES1,157,europa,True,laliga

In [208]:
df_competitions['confederation'].unique()

array(['europa'], dtype=object)

In [209]:
mapeamento_confederacao = {
    'europa': 1
}
df_competitions['confederation'] = df_competitions['confederation'].map(mapeamento_confederacao)

mapeamento_major_national_league = {
    True: 1,
    False: 0
}
df_competitions['is_major_national_league'] = df_competitions['is_major_national_league'].map(mapeamento_major_national_league)
df_competitions.head(10)

,competition_id,country_id,confederation,is_major_national_league,competition_code
0,CIT,75,1,0,italy-cup
1,NLSC,122,1,0,johan-cruijff-schaal
2,GRP,56,1,0,kypello-elladas
3,POSU,136,1,0,supertaca-candido-de-oliveira
4,RUSS,141,1,0,russian-super-cup
5,SUC,157,1,0,supercopa
6,USC,-1,1,0,uefa-super-cup
7,DK1,39,1,0,superligaen
8,EL,-1,1,0,europa-league
9,ES1,157,1,1,laliga

In [210]:
#Vamos remover as linhas que contém id igual a -1

df_competitions = df_competitions[df_competitions['country_id'] != -1]

In [211]:
df_competitions.head(40)

,competition_id,country_id,confederation,is_major_national_league,competition_code
0,CIT,75,1,0,italy-cup
1,NLSC,122,1,0,johan-cruijff-schaal
2,GRP,56,1,0,kypello-elladas
3,POSU,136,1,0,supertaca-candido-de-oliveira
4,RUSS,141,1,0,russian-super-cup
5,SUC,157,1,0,supercopa
7,DK1,39,1,0,superligaen
9,ES1,157,1,1,laliga
10,FR1,50,1,1,ligue-1
11,IT1,75,1,1,serie-a
12,NL1,122,1,0,eredivisie
13,RUP,141,1,0,russian-cup
14,PO1,136,1,0,liga-portugal-bwin
15,BESC,19,1,0,belgian-supercup
16,GB1,189,1,1,premier-league
19,CGB,189,1,0,efl-cup
20,DKP,39,1,0,sydbank-pokalen
22,FAC,189,1,0,fa-cup
23,NLP,122,1,0,toto-knvb-beker
24,UKRS,177,1,0,ukrainian-super-cup
25,UKR1,177,1,0,premier-liga
26,CDR,157,1,0,copa-del-rey
28,GR1,56,1,0,super-league-1
29,TR1,174,1,0,super-lig
30,POCP,136,1,0,allianz-cup
31,GBCS,189,1,0,community-shield
33,L1,40,1,1,bundesliga
34,RU1,141,1,0,premier-liga
35,SC1,190,1,0,scottish-premiership
36,SCI,75,1,0,supercoppa-italiana
37,BE1,19,1,0,jupiler-pro-league
39,DFL,40,1,0,dfl-supercup
40,SFA,190,1,0,sfa-cup
41,UKRP,177,1,0,ukrainian-cup
42,DFB,40,1,0,dfb-pokal
43,FRCH,50,1,0,trophee-des-champions

In [212]:
#Agora sim! Vamos unir df_unido2 com df_competitions
df_unido_final = pd.merge(df_unico2, df_competitions, on='competition_id', how='inner')
df_unido_final.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,...,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate,country_id,confederation,is_major_national_league,competition_code
0,2321027,33.0,3.0,8.0,3.0,9.0,1,2,L1,2013,...,3.0,8.0,61973.0,1.0,1.0,3,40,1,1,bundesliga
1,2321033,23.0,0.0,13.0,1.0,7.0,1,0,L1,2013,...,0.0,13.0,23000.0,2.0,8.0,6,40,1,1,bundesliga
2,2321044,16.0,2.0,1.0,1.0,15.0,1,1,L1,2013,...,2.0,1.0,80200.0,1.0,2.0,16,40,1,1,bundesliga
3,2321060,23.0,0.0,18.0,2.0,11.0,1,0,L1,2013,...,0.0,18.0,23325.0,2.0,1.0,7,40,1,1,bundesliga
4,2321063,33.0,2.0,13.0,0.0,3.0,1,1,L1,2013,...,2.0,13.0,61973.0,1.0,5.0,7,40,1,1,bundesliga
5,2321072,16.0,6.0,1.0,2.0,15.0,1,1,L1,2013,...,6.0,1.0,80645.0,1.0,18.0,26,40,1,1,bundesliga
6,2321079,23.0,1.0,18.0,1.0,16.0,1,2,L1,2013,...,1.0,18.0,22570.0,3.0,1.0,1,40,1,1,bundesliga
7,2321086,4.0,1.0,15.0,1.0,1.0,1,2,L1,2013,...,1.0,15.0,50000.0,1.0,1.0,1,40,1,1,bundesliga
8,2321119,15.0,1.0,3.0,1.0,1.0,1,2,L1,2013,...,1.0,3.0,30210.0,2.0,7.0,1,40,1,1,bundesliga
9,2321152,44.0,0.0,7.0,2.0,6.0,1,0,L1,2013,...,0.0,7.0,69277.0,1.0,1.0,7,40,1,1,bundesliga

In [213]:
#Vamos pegar os 10 últimos para verificar se está tudo certo
df_unido_final.tail(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,...,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate,country_id,confederation,is_major_national_league,competition_code
103108,3415292,520.0,1.0,9.0,2.0,2.0,0,0,BE1,2020,...,1.0,9.0,9500.0,5.0,5.0,16,19,1,0,jupiler-pro-league
103109,3433285,430.0,0.0,17.0,3.0,8.0,0,0,IT1,2020,...,0.0,17.0,NaN,12.0,14.0,8,75,1,1,serie-a
103110,3450749,1268.0,0.0,18.0,0.0,4.0,0,2,NL1,2020,...,0.0,18.0,NaN,5.0,18.0,0,122,1,0,eredivisie
103111,3592178,31.0,2.0,2.0,1.0,15.0,0,1,GB1,2021,...,2.0,2.0,41919.0,5.0,8.0,16,189,1,1,premier-league
103112,3069641,3336.0,2.0,12.0,0.0,9.0,0,1,PO1,2018,...,2.0,12.0,4955.0,0.0,0.0,7,136,1,0,liga-portugal-bwin
103113,3069682,982.0,2.0,17.0,2.0,6.0,0,2,PO1,2018,...,2.0,17.0,13753.0,0.0,0.0,2,136,1,0,liga-portugal-bwin
103114,3069685,7378.0,1.0,13.0,5.0,1.0,0,0,PO1,2018,...,1.0,13.0,60677.0,0.0,0.0,19,136,1,0,liga-portugal-bwin
103115,3069690,3349.0,4.0,18.0,4.0,8.0,0,2,PO1,2018,...,4.0,18.0,3746.0,0.0,0.0,4,136,1,0,liga-portugal-bwin
103116,3069693,7179.0,1.0,16.0,1.0,3.0,0,2,PO1,2018,...,1.0,16.0,41665.0,0.0,0.0,1,136,1,0,liga-portugal-bwin
103117,3069702,982.0,0.0,17.0,3.0,9.0,0,0,PO1,2018,...,0.0,17.0,942.0,0.0,0.0,8,136,1,0,liga-portugal-bwin

In [214]:
#Vamos transformar o competition id em int 
df_unido_final['competition_id'].unique()

array(['L1', 'RU1', 'BE1', 'FR1', 'GB1', 'SC1', 'UKR1', 'PO1', 'ES1',
       'NL1', 'TR1', 'GR1', 'IT1', 'DK1'], dtype=object)

In [215]:
# Mapeamento dos IDs das competições
competition_id_map = {
    'L1': 1,
    'RU1': 2,
    'BE1': 3,
    'FR1': 4,
    'GB1': 5,
    'SC1': 6,
    'UKR1': 7,
    'PO1': 8,
    'ES1': 9,
    'NL1': 10,
    'TR1': 11,
    'GR1': 12,
    'IT1': 13,
    'DK1': 14
}
df_unido_final['competition_id'] = df_unido_final['competition_id'].map(competition_id_map)

In [216]:
# Vamos retirar os valores nulos de attendance 
df_unido_final = df_unido_final.dropna(subset=['attendance'])

In [217]:
#Vamos retirar a coluna date, pois não precisamos mais dela
df_unido_final.drop(columns=['date'], inplace=True)

In [218]:
df_unido_final.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,...,home_club_goals,home_club_position,attendance,home_club_formation,away_club_formation,aggregate,country_id,confederation,is_major_national_league,competition_code
0,2321027,33.0,3.0,8.0,3.0,9.0,1,2,1,2013,...,3.0,8.0,61973.0,1.0,1.0,3,40,1,1,bundesliga
1,2321033,23.0,0.0,13.0,1.0,7.0,1,0,1,2013,...,0.0,13.0,23000.0,2.0,8.0,6,40,1,1,bundesliga
2,2321044,16.0,2.0,1.0,1.0,15.0,1,1,1,2013,...,2.0,1.0,80200.0,1.0,2.0,16,40,1,1,bundesliga
3,2321060,23.0,0.0,18.0,2.0,11.0,1,0,1,2013,...,0.0,18.0,23325.0,2.0,1.0,7,40,1,1,bundesliga
4,2321063,33.0,2.0,13.0,0.0,3.0,1,1,1,2013,...,2.0,13.0,61973.0,1.0,5.0,7,40,1,1,bundesliga
5,2321072,16.0,6.0,1.0,2.0,15.0,1,1,1,2013,...,6.0,1.0,80645.0,1.0,18.0,26,40,1,1,bundesliga
6,2321079,23.0,1.0,18.0,1.0,16.0,1,2,1,2013,...,1.0,18.0,22570.0,3.0,1.0,1,40,1,1,bundesliga
7,2321086,4.0,1.0,15.0,1.0,1.0,1,2,1,2013,...,1.0,15.0,50000.0,1.0,1.0,1,40,1,1,bundesliga
8,2321119,15.0,1.0,3.0,1.0,1.0,1,2,1,2013,...,1.0,3.0,30210.0,2.0,7.0,1,40,1,1,bundesliga
9,2321152,44.0,0.0,7.0,2.0,6.0,1,0,1,2013,...,0.0,7.0,69277.0,1.0,1.0,7,40,1,1,bundesliga

Agora vamos unir a informações dos clubes

In [219]:
df_clubs.columns.tolist()

['club_id',
 'club_code',
 'name',
 'domestic_competition_id',
 'total_market_value',
 'squad_size',
 'average_age',
 'foreigners_number',
 'foreigners_percentage',
 'national_team_players',
 'stadium_name',
 'stadium_seats',
 'net_transfer_record',
 'coach_name',
 'last_season',
 'filename',
 'url']

In [220]:
df_clubs.head(10)

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.6,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...
5,157,kaa-gent,Koninklijke Atletiek Associatie Gent,BE1,NaN,30,25.2,19,63.3,5,Planet Group Arena,20185,+€5.63m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/kaa-gent/start...
6,1894,hvidovre-if,Hvidovre IF,DK1,NaN,25,26.4,3,12.0,2,PRO VENTILATION Arena,12000,+€225k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/hvidovre-if/st...
7,190,fc-kopenhagen,Football Club København,DK1,NaN,28,26.1,19,67.9,9,Parken,38065,+€35.06m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/fc-kopenhagen/...
8,192,roda-jc-kerkrade,Roda JC Kerkrade,NL1,NaN,25,24.0,9,36.0,0,Parkstad Limburg Stadion,19979,+€1.30m,NaN,2017,../data/raw/transfermarkt-scraper/2017/clubs.j...,https://www.transfermarkt.co.uk/roda-jc-kerkra...
9,19789,yeni-malatyaspor,Yeni Malatyaspor,TR1,NaN,10,22.9,1,10.0,0,Yeni Malatya Stadyumu,25745,+€778k,NaN,2021,../data/raw/transfermarkt-scraper/2021/clubs.j...,https://www.transfermarkt.co.uk/yeni-malatyasp...

In [221]:
# Conta quantas vezes cada valor aparece
df_clubs['club_code'].value_counts()

club_code
sv-darmstadt-98         1
real-madrid             1
amiens-sc               1
cagliari-calcio         1
acn-siena-1904          1
                       ..
az-alkmaar              1
wigan-athletic          1
luton-town              1
cf-uniao-madeira        1
west-bromwich-albion    1
Name: count, Length: 439, dtype: int64

In [222]:
#Vamos passar o nome do clube também para facilitar a análise
df_club_novo = df_clubs[['club_id', 'name']]
# Vamos unir o df_club_novo com o df_unido_final
df_unido_final = pd.merge(df_unido_final, df_club_novo, on='club_id', how='inner')
df_unido_final.head(10)

,game_id,club_id,own_goals,own_position,opponent_goals,opponent_position,hosting,is_win,competition_id,season,...,home_club_position,attendance,home_club_formation,away_club_formation,aggregate,country_id,confederation,is_major_national_league,competition_code,name
0,2321027,33.0,3.0,8.0,3.0,9.0,1,2,1,2013,...,8.0,61973.0,1.0,1.0,3,40,1,1,bundesliga,FC Schalke 04
1,2321033,23.0,0.0,13.0,1.0,7.0,1,0,1,2013,...,13.0,23000.0,2.0,8.0,6,40,1,1,bundesliga,Eintracht Braunschweig
2,2321044,16.0,2.0,1.0,1.0,15.0,1,1,1,2013,...,1.0,80200.0,1.0,2.0,16,40,1,1,bundesliga,Borussia Dortmund
3,2321060,23.0,0.0,18.0,2.0,11.0,1,0,1,2013,...,18.0,23325.0,2.0,1.0,7,40,1,1,bundesliga,Eintracht Braunschweig
4,2321063,33.0,2.0,13.0,0.0,3.0,1,1,1,2013,...,13.0,61973.0,1.0,5.0,7,40,1,1,bundesliga,FC Schalke 04
5,2321072,16.0,6.0,1.0,2.0,15.0,1,1,1,2013,...,1.0,80645.0,1.0,18.0,26,40,1,1,bundesliga,Borussia Dortmund
6,2321079,23.0,1.0,18.0,1.0,16.0,1,2,1,2013,...,18.0,22570.0,3.0,1.0,1,40,1,1,bundesliga,Eintracht Braunschweig
7,2321086,4.0,1.0,15.0,1.0,1.0,1,2,1,2013,...,15.0,50000.0,1.0,1.0,1,40,1,1,bundesliga,1.FC Nuremberg
8,2321119,15.0,1.0,3.0,1.0,1.0,1,2,1,2013,...,3.0,30210.0,2.0,7.0,1,40,1,1,bundesliga,Bayer 04 Leverkusen Fußball
9,2321152,44.0,0.0,7.0,2.0,6.0,1,0,1,2013,...,7.0,69277.0,1.0,1.0,7,40,1,1,bundesliga,Hertha BSC

In [224]:
#Vamos baixar o dataframe final para um csv
df_unido_final.to_csv('df_unido_final3.csv', index=False)